{% extends 'base.html' %}

{% block title %}
Vœux des élèves
{% endblock %}

{% block content %}
{% if min_slot is none or max_slot is none %}
Aucun vœu d'élève n'a encore été enregistré.
{% else %}
<table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th></th>
        {% for d in range(1, 7) %}
        <th>{{ dayname[d] }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for s in range(min_slot, max_slot + 1) %}
      <tr>
        <td>{{times[s]}}</td>
        {% for d in range(1, 7) %}
        <td {% if teacher_availability[d][s] %}class="table-success"{% endif %}>
          <ul>
          {% for student in slots[d][s] %}
            <li>
              {{ student.name_given }} {{ student.name_family | upper }}<br/>
              ({{ student.phone }})
            </li>
          {% endfor %}
          </ul>
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
{% endblock %}
