{% extends 'base.html' %}

{% macro user_planning(slots, dayname, times) %}
<h2>Mon Planning:</h2>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th></th>
      {% for d in range(1, 7) %}
      <th>{{ dayname[d] }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for s in range(min_slot, max_slot + 1) %}
    <tr>
      <td>{{times[s]}}</td>
      {% for d in range(1, 7) %}
      {% set slot = slots[d][s] %}
      {% if slot %}
      <td rowspan="{{ slot.slots }}" class="table-primary">
        {{ slot.name_given }} {{ slot.name_family | upper }} <br>
        ({{ slot.time_from }} - {{ slot.time_to }})
      </td>
      {% elif slot is none %}
      <td></td>
      {% endif%}
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro %}

{% block title %}
user: Planning
{% endblock %}

{% block content %}
<p>
  <i class="bi bi-file-pdf"></i> <a href="{{ url_for('user.planning_export_pdf', planning_id=planning_id) }}">pdf download</a>
</p>
<ul>
  {% for p in plannings %}
  <li><a href="{{ url_for('user.planning', planning_id=p.id) }}">ID: {{p.id}} (attempts={{p.range_attempts}}, increments={{p.range_increments}})</a></li>
  {% endfor %}
</ul>

{{ user_planning(slots, dayname, times) }}
{% endblock %}
